body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #f9f9f9; /* 背景色を薄いグレーに */
  color: #333; /* テキスト色をダークグレーに */
  margin: 0;
  padding: 0;
}

header {
  background-color: #37474f; /* ヘッダーの背景色をダークグレーに */
  color: #ffffff; /* ヘッダーのテキスト色 */
}

footer {
  background-color: #455a64; /* フッターの背景色をミディアムグレーに */
  color: #ffffff; /* フッターのテキスト色 */
}

header, footer {
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  padding: 1rem;
  text-align: center;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


main {
  padding: 1rem;
  text-align: center;
}

.project-card {
  background-color: #fff;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

a {
  color: #90caf9;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease; /* アニメーション効果を追加 */
}

a:hover {
  color: #ff7043;
  transform: scale(1.05); /* 少し拡大してアクセントをつける */
  text-decoration: underline;
}

ul {
  list-style-type: disc;
  margin: 0;
  padding: 0;
  text-align: center;
}

li {
  display: inline-block;
  margin: 0 10px;
}

h2 {
  margin-top: 1.5rem;
  text-align: center;
}

.section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

button {
  background-color: #37474f;
  color: #ffffff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

button:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

/* 全体のレイアウトを縦のフレックスボックスに設定 */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 画面全体の高さをカバー */
  margin: 0;
  padding: 0;
}

/* mainコンテンツを自動で成長・縮小 */
.content {
  flex: 1;
  padding: 1rem;
}

