@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 50;
}
main {
  margin-top: 64px;
  margin-bottom: 64px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 50;
}
