@tailwind base;
@tailwind components;
@tailwind utilities;

header {
  position: static;
  top: auto;
  left: auto;
  width: 100%;
  z-index: auto;
}
main {
  margin-top: 0;
  margin-bottom: 0;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: 50;
}
